<launch>
  <arg name="density"  default="1"/>
  <arg name="scale"  default="1"/>
  <arg name="objects"  default="teapot cube"/>
  <node name="sphere1_to_world" pkg="convert_pcd" type="obj_to_world_perception.py" >
    <param name="density"  type="double"  value="$(arg density)"/>
    <param name="scale"  type="double"  value="$(arg scale)"/>
    <param name="objects"  type="str"  value="$(arg objects)"/>
    <param name="~frame_id"  type="str"  value="sphere1_points"/>
    <param name="link_name"  type="str"  value="sphere1_link"/>
    <remap from="cube_world_pub" to="sphere1_world_pub" />
    <remap from="cube_world" to="sphere1_world" />
    <remap from="cube_points" to="sphere1_points" />
    <remap from="cloud_pcd" to="sphere1_cloud_pcd" />
    <remap from="SpherePose_ros" to="Sphere1Pose_ros" />
  </node>
  
  <node name="table_to_world" pkg="convert_pcd" type="obj_to_world_perception.py" >
    <param name="density"  type="double"  value="1"/>
    <param name="scale"  type="double"  value="5"/>
    <param name="objects"  type="str"  value="$(arg objects)"/>
    <param name="~frame_id"  type="str"  value="table_points"/>
    <param name="link_name"  type="str"  value="table_link"/>
    <remap from="cube_world_pub" to="table_world_pub" />
    <remap from="cube_world" to="table_world" />
    <remap from="cube_points" to="table_points" />
    <remap from="cloud_pcd" to="table_cloud_pcd" />
    <remap from="SpherePose_ros" to="TablePose_ros" />
  </node>

  <node name="bottle_to_world" pkg="convert_pcd" type="obj_to_world_perception.py" >
    <param name="density"  type="double"  value="1"/>
    <param name="scale"  type="double"  value="$(arg scale)"/>
    <param name="objects"  type="str"  value="$(arg objects)"/>
    <param name="~frame_id"  type="str"  value="bottle_points"/>
    <param name="link_name"  type="str"  value="bottle_link"/>
    <remap from="cube_world_pub" to="bottle_world_pub" />
    <remap from="cube_world" to="bottle_world" />
    <remap from="cube_points" to="bottle_points" />
    <remap from="cloud_pcd" to="bottle_cloud_pcd" />
    <remap from="SpherePose_ros" to="BottlePose_ros" />
  </node>
  <node name="meat_to_world" pkg="convert_pcd" type="obj_to_world_perception.py" >
    <param name="density"  type="double"  value="1"/>
    <param name="scale"  type="double"  value="10"/>
    <param name="objects"  type="str"  value="$(arg objects)"/>
    <param name="~frame_id"  type="str"  value="meat_points"/>
    <param name="link_name"  type="str"  value="meat_link"/>
    <remap from="cube_world_pub" to="meat_world_pub" />
    <remap from="cube_world" to="meat_world" />
    <remap from="cube_points" to="meat_points" />
    <remap from="cloud_pcd" to="meat_cloud_pcd" />
    <remap from="SpherePose_ros" to="MeatPose_ros" />
  </node>
  <node name="potato_to_world" pkg="convert_pcd" type="obj_to_world_perception.py" >
    <param name="density"  type="double"  value="1"/>
    <param name="scale"  type="double"  value="1000"/>
    <param name="objects"  type="str"  value="$(arg objects)"/>
    <param name="~frame_id"  type="str"  value="potato_points"/>
    <param name="link_name"  type="str"  value="potato_link"/>
    <remap from="cube_world_pub" to="potato_world_pub" />
    <remap from="cube_world" to="potato_world" />
    <remap from="cube_points" to="potato_points" />
    <remap from="cloud_pcd" to="potato_cloud_pcd" />
    <remap from="SpherePose_ros" to="PotatoPose_ros" />
  </node>
  <node name="tomato_to_world" pkg="convert_pcd" type="obj_to_world_perception.py" >
    <param name="density"  type="double"  value="1"/>
    <param name="scale"  type="double"  value="100"/>
    <param name="objects"  type="str"  value="$(arg objects)"/>
    <param name="~frame_id"  type="str"  value="tomato_points"/>
    <param name="link_name"  type="str"  value="tomato_link"/>
    <remap from="cube_world_pub" to="tomato_world_pub" />
    <remap from="cube_world" to="tomato_world" />
    <remap from="cube_points" to="tomato_points" />
    <remap from="cloud_pcd" to="tomato_cloud_pcd" />
    <remap from="SpherePose_ros" to="TomatoPose_ros" />
  </node>
  <node name="tomato2_to_world" pkg="convert_pcd" type="obj_to_world_perception.py" >
    <param name="density"  type="double"  value="1"/>
    <param name="scale"  type="double"  value="100"/>
    <param name="objects"  type="str"  value="$(arg objects)"/>
    <param name="~frame_id"  type="str"  value="tomato2_points"/>
    <param name="link_name"  type="str"  value="tomato2_link"/>
    <remap from="cube_world_pub" to="tomato2_world_pub" />
    <remap from="cube_world" to="tomato2_world" />
    <remap from="cube_points" to="tomato2_points" />
    <remap from="cloud_pcd" to="tomato2_cloud_pcd" />
    <remap from="SpherePose_ros" to="Tomato2Pose_ros" />
  </node>
  <node name="veggie_to_world" pkg="convert_pcd" type="obj_to_world_perception.py" >
    <param name="density"  type="double"  value="1"/>
    <param name="scale"  type="double"  value="100"/>
    <param name="objects"  type="str"  value="$(arg objects)"/>
    <param name="~frame_id"  type="str"  value="veggie_points"/>
    <param name="link_name"  type="str"  value="veggie_link"/>
    <remap from="cube_world_pub" to="veggie_world_pub" />
    <remap from="cube_world" to="veggie_world" />
    <remap from="cube_points" to="veggie_points" />
    <remap from="cloud_pcd" to="veggie_cloud_pcd" />
    <remap from="SpherePose_ros" to="VeggiePose_ros" />
  </node>

  <node name="perceptual_map" pkg="convert_pcd" type="perceptual_map_v2.py" output="screen" />
  <include file="$(find octomap_server)/launch/octomap_mapping.launch" /> 
</launch>