<launch>
  <node name="cube_publisher" pkg="ros_communication" type="cube_publisher" />
  <node name="ball_publisher" pkg="ros_communication" type="cube_publisher" >
    <remap from="cube_listener" to="ball_listener" />
    <remap from="CubePose" to="BallPose" /> 
    <remap from="CubePose_ros" to="BallPose_ros" />
  </node>

  <node name="cylinder_publisher" pkg="ros_communication" type="cube_publisher" >
    <remap from="cube_listener" to="cylinder_listener" />
    <remap from="CubePose" to="CylinderPose" />
    <remap from="CubePose_ros" to="CylinderPose_ros" />
  </node>
</launch>
