<launch>
  <node name="cube_listener" pkg="ros_communication" type="cube_listener" />
  <node name="ball_listener" pkg="ros_communication" type="ball_listener" />
  <node name="cylinder_listener" pkg="ros_communication" type="cylinder_listener" />

  <!-- <node name="ball_listener" pkg="ros_communication" type="cube_listener" >
    <remap from="cubepose_listener" to="ballpose_listener" />
    <remap from="CubePose_ros" to="BallPose_ros" />
    <remap from="cube_link" to="sphere_link" />
  </node>

  <node name="cylinder_listener" pkg="ros_communication" type="cube_listener" >
    <remap from="cubepose_listener" to="cylinderpose_listener" />
    <remap from="CubePose_ros" to="CylinderPose_ros" />
    <remap from="cube_link" to="cylinder_link" />
  </node> -->

  <node name="stage_listener" pkg="ros_communication" type="stage_listener" />
</launch>
