<launch>
  <!-- <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
     <arg name="port" value="8080"/>
     <arg name="max_message_size" value="1024" />
  </include>
  <node name="file_server" pkg="file_server" type="file_server" output="screen"/>
  <node name="cube_publisher" pkg="ros_communication" type="cube_publisher"/>
  <node name="camerapose_publisher" pkg="ros_communication" type="camerapose_pub.py"/>
  <node name="sphere2_publisher" pkg="ros_communication" type="camerapose_pub.py" >
    <remap from="listener" to="sphere2_listener" />
    <remap from="CameraPose" to="SpherePose2" /> 
    <remap from="CameraPose_ros" to="SpherePose2_ros" />
  </node>
  <node name="cylinder_publisher" pkg="ros_communication" type="camerapose_pub.py" >
    <remap from="listener" to="cylinder_listener" />
    <remap from="CameraPose" to="CylinderPose" /> 
    <remap from="CameraPose_ros" to="CylinderPose_ros" />
  </node> -->
  <!-- <node name="sphere_string_listener" pkg="ros_communication" type="stringlistener.py" output="screen">
    <param name="~file_name"  type="str"  value="/home/shuwen/sphere.p"/>
  </node> -->
  <node name="sphere2_string_listener" pkg="ros_communication" type="stringlistener.py" output="screen">
    <param name="~file_name"  type="str"  value="/home/shuwen/sphere2.p"/>
    <remap from="SphereString" to="Sphere2String" />
  </node>
  <!-- <node name="cylinder_string_listener" pkg="ros_communication" type="stringlistener.py" output="screen">
    <param name="~file_name"  type="str"  value="/home/shuwen/cylinder.p"/>
    <remap from="SphereString" to="CylinderString" />
  </node> -->
</launch>
