<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
     <arg name="port" value="8080"/>
     <arg name="max_message_size" value="1024" />
  </include>

  <node name="camerapose_publisher" pkg="ros_communication" type="camerapose_pub.py"/>

  <node name="table_publisher" pkg="ros_communication" type="camerapose_pub.py" >
    <remap from="listener" to="table_listener" />
    <remap from="CameraPose" to="TablePose" /> 
    <remap from="CameraPose_ros" to="TablePose_ros" />
  </node>

  <node name="sphere1_publisher" pkg="ros_communication" type="camerapose_pub.py" >
    <remap from="listener" to="sphere1_listener" />
    <remap from="CameraPose" to="Sphere1Pose" /> 
    <remap from="CameraPose_ros" to="Sphere1Pose_ros" />
  </node>

  <node name="bottle_publisher" pkg="ros_communication" type="camerapose_pub.py" >
    <remap from="listener" to="bottle_listener" />
    <remap from="CameraPose" to="BottlePose" /> 
    <remap from="CameraPose_ros" to="BottlePose_ros" />
  </node>
  <node name="meat_publisher" pkg="ros_communication" type="camerapose_pub.py" >
    <remap from="listener" to="meat_listener" />
    <remap from="CameraPose" to="MeatPose" /> 
    <remap from="CameraPose_ros" to="MeatPose_ros" />
  </node>
  <node name="tomato2_publisher" pkg="ros_communication" type="camerapose_pub.py" >
    <remap from="listener" to="tomato2_listener" />
    <remap from="CameraPose" to="Tomato2Pose" /> 
    <remap from="CameraPose_ros" to="Tomato2Pose_ros" />
  </node>
  <node name="tomato_publisher" pkg="ros_communication" type="camerapose_pub.py" >
    <remap from="listener" to="tomato_listener" />
    <remap from="CameraPose" to="TomatoPose" /> 
    <remap from="CameraPose_ros" to="TomatoPose_ros" />
  </node>
  <node name="veggie_publisher" pkg="ros_communication" type="camerapose_pub.py" >
    <remap from="listener" to="veggie_listener" />
    <remap from="CameraPose" to="VeggiePose" /> 
    <remap from="CameraPose_ros" to="VeggiePose_ros" />
  </node>
  <node name="potato_publisher" pkg="ros_communication" type="camerapose_pub.py" >
    <remap from="listener" to="potato_listener" />
    <remap from="CameraPose" to="PotatoPose" /> 
    <remap from="CameraPose_ros" to="PotatoPose_ros" />
  </node>

</launch>
